body {
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(251, 253, 254, 1) 24%, rgba(0, 149, 198, 1) 97%);
}

.containerLarge {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 0 40px;
    background-color: #F5F5F5;
    border: 1px solid #F0F8FF;
    border-radius: 10px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .15), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .12);
}

.containerContact {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Navbar Styling */

.navbar-custom {
    background-color: rgb(105, 105, 105, .0);
}

#mainNavbar .navbar-brand {
    color: white;
    /* text-shadow: 1px 1px 2px #000000; */
    font-size: 1.25rem;
    font-weight: 500;
}

#mainNavbar .nav-link {
    color: white;
    /* text-shadow: 1px 1px 2px #000000; */
    font-size: 1.25rem;
    font-weight: 500;
}

#mainNavbar .nav-link:hover {}

#mainNavbar .navbar-brand:hover {}

.navbar.scrolled {
    background-color: white;
    opacity: 1;
    transition-duration: 600ms;
}

#mainNavbar.scrolled .navbar-brand {
    color: #0095c6;
}

#mainNavbar.scrolled .nav-link {
    color: #0095c6;
}

/*main image section */

.banner {
    background-image: url(../images/Background.jpg);
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.bannerFooter {
    background-image: url(../images/Background.jpg);
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.nameDiv {
    margin-top: 20rem;
}

#mainName {
    color: white;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 5rem;
}

.section-title {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.section-title:after {
    content: '';
    display: block;
    border: 2.5px solid #0095c6;
    margin: auto;
    width: 180px;
    margin-top: .5rem;
}

#spanSpace {
    margin: 0;
}

.bio {
    font-size: 1rem;
    margin: 1rem;
    margin-bottom: 3.5rem;
    line-height: 3rem;
    color: #617c85;
}

/* Box shadow effects */

.shadow {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

shadow:before, shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

/* End of About Section */

/* Parallax Effect */

/* End of Parallax Effect */

/* Skills Section */

/* Terminal */

#terminalHead {
    height: 30px;
    margin: auto;
    background-color: rgb(223, 222, 226);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

#terminalExit {
    background-color: rgb(255, 59, 48);
    border: 1px solid rgb(255, 69, 58);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

#terminalMinimize {
    background-color: rgb(255, 204, 0);
    border: 1px solid rgb(255, 214, 10);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

#terminalExpand {
    background-color: rgb(40, 205, 65);
    border: 1px solid rgb(50, 215, 75);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

#terminalBody {
    margin: auto;
    background-color: #0095c6;
    border: 1px solid #0086b3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .15), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .12);
}

.statement {
    margin: 1rem;
    padding: .25rem;
    line-height: 1.5rem;
    letter-spacing: .5px;
}

.commandStatement {
    color: #F5F5F5;
}

.outputStatement {
    color: rgb(0, 255, 255);
    padding-left: 1rem;
}

/* End Terminal  */

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: #FFF;
    margin: 1rem;
    padding: 1rem;
}

.skillsImg {
    width: 50px;
    height: 50px;
    margin: 1.25rem
}

/* End of Skills Section */

/* Project Section */

.project-title {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}

.project-title:after {
    content: '';
    display: block;
    border: 2.5px solid #0095c6;
    margin: auto;
    width: 180px;
    margin-top: .5rem;
}

.projectBody {
    margin: 2rem;
    background-color: #F5F5F5;
    border: 1px solid #F0F8FF;
    border-radius: 10px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .15), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .12);
}

.projImg {
    background-image: url(../images/moonLight.png);
    display: block;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 5px;
    /* border: 1px solid #F5F5F5; */
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.projectTitle {
    font-size: 1.5rem;
    color: #0095c6;
    margin-top: 1rem;
    font-weight: bold;
}

.projectP {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #617c85;
}

.projectSkill {
    border: 1.5px solid rgb(250, 221, 56);
    display: inline-block;
    border-radius: 5px;
    padding: .25rem;
    color: #617c85;
    margin: .25rem
}

.projectButtonDiv {
    margin: 1rem;
    margin-left: 0;
}

.projectButton {
    color: #0095c6 !important;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #0095c6;
    border-radius: 5px;
    padding: .5rem;
    margin-right: .5rem;
}

.projectButton:hover {
    color: white !important;
    text-decoration: none;
    background-color: #0095c6;
    border: 2px solid #0095c6;
    border-radius: 5px;
    padding: .5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contact-title {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 1rem;
}

.contact-title:after {
    content: '';
    display: block;
    border: 2.5px solid #0095c6;
    margin: auto;
    width: 180px;
    margin-top: .5rem;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.linkText {
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

a .linkText:hover {
    color: #0095c6;
    text-decoration: none;
}

fieldset {
    margin: 1rem;
}

#contact {
    background-color: #F5F5F5;
}

.contactProjectH1 {
    text-align: center;
    padding: 1.5rem;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid #617c85;
    background-color: #F5F5F5;
    color: #617c85;
}

textarea {
    color: #617c85;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 0;
    background-color: #F5F5F5;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid #617c85;
}

input:focus, textarea:focus {
    border-bottom: 3px solid #0095c6;
    outline: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #617c85;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #617c85;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #617c85;
}

.buttoncontain {
    margin: auto;
    width: 50%;
}

.social {
    margin: 1rem;
    margin-bottom: 2rem;
}

.socialbtn:hover {
    color: #0095c6;
    transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.social a {
    color: #617c85;
    margin: .5rem;
    margin-left: 0;
}

.emailPhone {
    font-size: 1rem;
    margin: 1rem;
    color: #617c85;
}

/* Project hiding */

#displayer {
    display: none;
}

#displayButton {
    margin: 2rem;
    display: inline;
}

#hideButton {
    margin: 2rem;
    display: none;
}

.blinkTitle{
    border: 1rem solid #0095c6;
    animation: blinking 1s linear infinite
    

}
.blink{
    border: .25rem solid rgb(0, 255, 255);
    animation: blinking 1s linear infinite
}
@keyframes blinking{
    50% {
        opacity: 0;
      }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .skillsFlag h1 {
        font-size: 1.95rem;
    }
    .projImg {
        width: 12rem;
        height: 12rem;
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 768px) and (min-width: 531px) {
    .skillsFlag h1 {
        font-size: 1.95rem;
    }
    .projImg {
        width: 12rem;
        height: 12rem;
        margin: auto;
        margin-top: 1rem;
    }
    .projectTitle {
        text-align: center;
    }
    .projectP {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .projectSkill {
        margin-left: 1rem;
    }
    .projectButtonDiv {
        text-align: center;
    }
}

@media only screen and (max-width: 531px) {
    .skillsFlag h1 {
        font-size: 1.75rem;
    }
    #mainName {
        font-size: 3.5rem;
    }
    .projImg {
        width: 12rem;
        height: 12rem;
        margin: auto;
        margin-top: 1rem;
    }
    .projectTitle {
        text-align: center;
    }
    .projectP {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .projectButtonDiv {
        text-align: center;
    }
}