body {
    font-family: 'Roboto', sans-serif;
}

.containerLarge {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Navbar Styling */

.navbar-custom {
    background-color: rgb(105, 105, 105, .0);
}

#mainNavbar .navbar-brand {
    color: white;
    /* text-shadow: 1px 1px 2px #000000; */
    font-size: 1.25rem;
    font-weight: 500;
}

#mainNavbar .nav-link {
    color: white;
    /* text-shadow: 1px 1px 2px #000000; */
    font-size: 1.25rem;
    
    font-weight: 500;
}

#mainNavbar .nav-link:hover {
    color: #3CB371;
    text-shadow: 0px 0px 0px
}

#mainNavbar .navbar-brand:hover {
    color: #0095c6;
    text-shadow: 0px 0px 0px
}

.navbar.scrolled {
    background-color: white;
    opacity: 1;
    transition-duration: 500ms;
   
}

#mainNavbar.scrolled .navbar-brand{
    color: #0095c6;
}

#mainNavbar.scrolled .nav-link{
    color: #0095c6;
}


/*main image section */

.banner {
    background-image: url(../images/Background.jpg);
    min-height: 625px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

#mainH2 {
    margin: auto;
    padding-top: 10rem;
    color: white;
    /* text-shadow: 2px 2px 4px #000000 */
}

/* About Section */

.section-title {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.section-title:after {
    content: '';
    display: block;
    border: 2.5px solid #0095c6;
    margin: auto;
    width: 180px;
    margin-top: .5rem;
}

#spanSpace {
    margin: 0;
}

.bio {
    font-size: 1rem;
    margin: 1rem;
    margin-bottom: 5rem;
    line-height: 3rem;
    color: #617c85;
}

.avatar {
    background-image: url(../images/MaderProfilepic\ copy\ 2.jpeg);
    display: block;
    width: 250px;
    height: 250px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.box {
    background: #FFF;
    margin: 40px auto;
}

/* Box shadow effects */

.shadow {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

shadow:before, shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

/* End of About Section */

/* Parallax Effect */

/* End of Parallax Effect */

/* Skills Section */

/* Terminal */

#terminalHead {
    height: 30px;
    margin: auto;
    background-color: rgb(223, 222, 226);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

#terminalExit {
    background-color: rgb(255, 59, 48);
    border: 1px solid rgb(255, 69, 58);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

#terminalMinimize {
    background-color: rgb(255, 204, 0);
    border: 1px solid rgb(255, 214, 10);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

#terminalExpand {
    background-color: rgb(40, 205, 65);
    border: 1px solid rgb(50, 215, 75);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

#terminalBody {
    margin: auto;
    background-color: #0095c6;
    border: 1px solid #0086b3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .15), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .12);
}

.statement {
    margin: 1rem;
    padding: .25rem;
    line-height: 1.5rem;
    letter-spacing: .5px;
}

.commandStatement {
    color: #F5F5F5;
}

.outputStatement {
    color: rgb(0, 255, 255);
    padding-left: 1rem;
}

/* End Terminal  */

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: #FFF;
    margin: 1rem;
    padding: 1rem;
}

.skillsImg {
    width: 50px;
    height: 50px;
    margin: 1.25rem
}

/* End of Skills Section */

/* Project Section */

.project-title {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}

.project-title:after {
    content: '';
    display: block;
    border: 2.5px solid #0095c6;
    margin: auto;
    width: 180px;
    margin-top: .5rem;
}

.projectBody {
    margin: 2rem;
    background-color: #F5F5F5;
    border: 1px solid #F0F8FF;
    border-radius: 10px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .15), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .12);
}

/* End of Project Section */

/*About Section */

/* .aboutUL {
    padding-left: 0;
}

hr {
    border-top: 3px double #8c8b8b;
}

li {
    list-style-type: none;
}

.overallAbout {
    background-image: url(../images/confectionary.png);
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

.portfolio {
    background-color: #DCDCDC;
}

.smallEd {
    font-weight: 300;
    color: #0095c6;
}

.slash {
    color: #0095c6;
}


}

.image {
    display: block;
    width: 100%;
    height: 325px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(60, 179, 113);
}

.contain:hover .overlay {
    opacity: .75;
} */

/* .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.linkText {
    color: white; 
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

a .linkText:hover{
    color: #0095c6;
    text-decoration: none; 
} */

/* fieldset {
    margin: 1rem;
}

#contact {
    background-color: #F8F8FF;
}

.contactProjectH1 {
    text-align: center;
    padding: 1.5rem;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid rgba(120, 131, 131, 0.904);
    background-color: #F8F8FF;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #F8F8FF;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid rgba(120, 131, 131, 0.904);
}

input:focus, textarea:focus {
    border-bottom: 3px solid #3CB371;
    outline: none;
}

.buttoncontain {
    margin: auto;
    width: 50%;
}

.fa-arrow-right {
    margin-left: .5rem;
}

.btn:hover {
    background-color: #3CB371;
}

.social {
    text-align: center;
    padding: 2rem;
}

.socialbtn:hover {
    color: #0095c6;
}

.social a {
    color: black;
}

ul {
    text-align: center;
}

.education h3 {
    text-align: center;
} */

@media only screen and (max-width: 768px) and (min-width: 531px) {
    .skillsFlag h1 {
        font-size: 1.95rem;
    }
}

@media only screen and (max-width: 531px) {
    .skillsFlag h1 {
        font-size: 1.75rem;
    }
}