body {
    font-family: 'Roboto Slab', serif;
}

/* Navbar Styling */

.navbar-custom {
    background-color: #696969;
    opacity: .5;
}

#mainNavbar .navbar-brand {
    /* color: #0095c6; */
    color: white;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #3CB371;
}

#mainNavbar .navbar-brand:hover {
    color: #3CB371;
}

/*main image section */

.banner {
    background-image: url(../images/vinyl-portfolio\ .jpeg);
    min-height: 500px;
    overflow: hiden;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    background-size: cover;
}

/*About Section */

hr {
    border-top: 3px double #8c8b8b;
}

li {
    list-style-type: none;
}

.overallAbout {
    background-image: url(../images/confectionary.png);
    padding-top: 2rem;
}

.portfolio {
    background-color: #DCDCDC;
}

.navbar.scrolled {
    background-color: #696969;
    opacity: 1;
    transition-duration: 500ms;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3CB371;
}

.contain:hover .overlay {
    opacity: .75;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

fieldset {
    margin: 1rem; 
}

#contact {

    background-image: url(../images/polaroid.png); 
}